<%= form_for @dog, class: 'form-group' do |form| %>
  Name:<%= form.text_field :name, class: 'form-control col-12' %><br />
  Age: <%= form.text_field :age, class: 'form-control  col-12' %><br />
  Breed: <%= form.text_field :breed, class: 'form-control  col-12' %><br />
  Picture: <%= form.file_field :avatar %>
  <div class="text-center">
    <%= form.submit nil , class: 'btn btn-primary' %>
  </div>
<% end %>
