<% if flash[:success] %>
  <div class="success"><%= flash[:success] %></div>
<% end %>

<h1>Create a new Dog</h1>
<%= form_for :dog, url: dogs_path, action: :create do |form| %>
  Name:<%= form.text_field :name %><br />
  Age: <%= form.text_field :age %><br />
  Breed: <%= form.text_field :breed %><br />
  <%= form.submit 'Create Dog' %>
<% end %>
