<%= form_for @client, class: 'form-group' do |form| %>
  Name:<%= form.text_field :name, class: 'form-control col-12' %><br />
  Age: <%= form.text_field :age, class: 'form-control  col-12' %><br />
  Email: <%= form.text_field :email, class: 'form-control  col-12' %><br />
  <div class="text-center">
    <%= form.submit nil , class: 'btn btn-primary' %>
  </div>
<% end %>
